<!DOCTYPE html>
<html>
{% load static %}
    
<head>
  <meta charset="UTF-8">
</head>

<body>
  <div class="filter">
    <h1>Select Keywords</h1>
    <div class="keywords">
     {% for k,v in total_keywords.items %}
     <div class="checkbox">
     <label><input type="checkbox" rel="{{k}}" onchange="change();"/>{{k}}({{v}}items found)</label>
     </div>
  {% endfor %}
    </div>
   
    <h1>Select User</h1>
    <div class="users">
      {% for k in users %}
     <div class="checkbox">
     <label><input type="checkbox" rel="{{k}}" onchange="change();"/>{{k}}</label>
     </div>
  {% endfor %}
    </div>

    <h1>TIme Range</h1>
    <div class="time_range">
     <div class="checkbox">
     <label><input type="checkbox" rel="yesterday" onchange="datechange();"/>Yesterday</label>
     </div>
     <div class="checkbox">
     <label><input type="checkbox" rel="lst_week" onchange="datechange();"/>Last week</label>
     </div>
     <div class="checkbox">
     <label><input type="checkbox" rel="lst_month" onchange="datechange();"/>Last Month</label>
     </div>
    </div>
  </div>

  <h1>Custom TIme Range</h1>
<label>Start date: <input type=date id="start" required > </label>
<label>End date: <input type=date id="end" required></label>
<input type=submit  onclick="custom_date()">
  </div>

  <div class="result">
        {% for value in total_data %}
        <div class="{{value.keywords }} {{value.user}}">
        <h1>Keyword:{{value.keywords}}</h1>
        <h1>User:{{value.user}}</h1>
        <h1>Search Date:</h1><h1 class="search_date">{{value.search_date}}</h1>
        <h1>Search TIme:{{value.search_time}}</h1>
        <br>
        </div>
        {% endfor %}
   
    
  </div>
</body>
<script>
var start = document.getElementById('start');
var end = document.getElementById('end');
start.addEventListener('change', function() {
    if (start.value)
        end.min = start.value;
}, false);
</script>
<script src="{% static 'js/home.js' %}"></script>
</html>